<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Firebase CRUD</a>
    </div>

    <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav navbar-right border-left">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{afService.displayName }}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
