<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Firebase Crud</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
